<h3><%= "Lista de todos os consoles" %></h3>

<% if current_user.role == "admin" %>
	<%= link_to "Criar novo", new_console_url %>
<% end %>

<% if @consoles.empty? %>
	<p><b>Não há nenhum console cadastrado no site</b></p>

<% else %>
	<table class="table_game">
		<th>Nome</th>

		<% @consoles.each do |console| %> 
			<tr>
				<td><%= console.name %></td>
				<% if current_user.role == "admin" %>
					<td><%= link_to "Editar", edit_console_url(console) %></td>
					<% if console.games.empty? %>
						<td><%= link_to "Deletar", console, :method => :delete %></td>
					<% end %>
				<% end %>
		    </tr>
		<% end %>
	</table>



<% end %>