<h3>Shopcredits: <%= "#{current_user.shopcredit}"%> - <%= link_to "Resgatar", retrieve_histories_url%></h3>
<h3><%= "Meu historico" %></h3>

<% if @histories.empty? %>
	<p><b>Ainda não houve nenhuma transação</b></p>

<% else %>
	<table class="table_game">
		<th>Moeda</th>
		<th>Valor</th>
		<th>Descricao</th>
		<th>Jogo</th>
		<th>Identificador</th>

		<% @histories.each do |history| %> 
			<tr>
				<% 
					if history.currency == "money" 
						currency = "R$"
					else
						currency = "SC"
					end
				%>
				<td><%= "#{currency}" %></td>

				<% 
					if history.transaction_type == "Credit" 
						signal = "+"
					else
						signal = "-"
					end
				%>
				<td><%= "#{signal}#{history.value.to_i}" %></td>
				
				
				<td><%= history.message %></td>
				<td><%= history.rent.game.name if history.rent %></td>
				<td><%= history.rent.game.identifier if history.rent %></td>
		    </tr>
		<% end %>
	</table>
<% end %>