<h3><%= "Lista de todos os jogos disponiveis" %></h3>

<% if @games.empty? %>
	<p><b>Não há nenhum jogo cadastrado no site</b></p>

<% else %>
	<table class="table_game">
		<th>Nome</th>
		<th>Console</th>
		<th>Gênero</th>
		<th>Preco</th>

		<% @games.each do |game| %> 
			<tr>
				<td><%= game.name %></td>
				<td><%= game.console.name if game.console %></td>
		    	<td><%= game.gender.name if game.gender %></td>
		    	<td><%= "R$#{game.price_range.price}0" if game.price_range %></td>
		    	<% if game.available? %>
					<td><%= link_to "Alugar", rent_game_url(game), method: 'get' %></td>
				<% else %>
		    		<td> Alugado </td>
				<% end %>
		    </tr>
		<% end %>
	</table>
<% end %>