<h3>Aluguel de Jogo</h3>

<p>
Nome: <%= @game.name %> </br>
Genero: <%= @game.gender.name if @game.gender %> </br>
Console: <%= @game.console.name if @game.console %> </br>
Preço diário: <%= "R$#{@game.price_range.increment_value}0" if @game.price_range %>
</p>

<h3> Desembolso </h3>

<%= "R$#{@game.price_range.price}0 ou #{@game.price_range.price.to_i} ShopCredits"%> </br></br></br>

<%= link_to "Pagar com cartão de crédito", rent_money_game_url(@game), method: 'put' %> </br></br>
<%= link_to "Pagar com shopcredit", rent_credit_game_url(@game), method: 'put' %>