<h3><%= "Lista de todas as faixas de preço" %></h3>

<% if current_user.role == "admin" %>
	<%= link_to "Criar novo", new_price_range_url %>
<% end %>

<% if @price_ranges.empty? %>
	<p><b>Não há nenhuma faixa de preço cadastrada no site</b></p>

<% else %>
	<table class="table_game">
		<th>Nome</th>

		<% @price_ranges.each do |price_range| %> 
			<tr>
				<td><%= price_range.category %></td>
				<% if current_user.role == "admin" %>
					<td><%= link_to "Editar", edit_price_range_url(price_range) %></td>
					<td><%= link_to "Deletar", price_range, :method => :delete %></td>
				<% end %>
		    </tr>
		<% end %>
	</table>
<% end %>