<h3><%= "Lista de todos os generos" %></h3>

<% if current_user.role == "admin" %>
	<%= link_to "Criar novo", new_gender_url %>
<% end %>

<% if @genders.empty? %>
	<p><b>Não há nenhum genero cadastrado no site</b></p>

<% else %>
	<table class="table_game">
		<th>Nome</th>

		<% @genders.each do |gender| %> 
			<tr>
				<td><%= link_to gender.name,  gender %></td>
				<% if current_user.role == "admin" %>
					<td><%= link_to "Editar", '#' %></td>
					<td><%= link_to "Deletar", '#' %></td>
				<% end %>
		    </tr>
		<% end %>
	</table>
<% end %>