<h3><%= "Lista de Jogos de #{@gender.name}" %></h3>

<% if @games.empty? %>
	<p><b>Não há nenhum jogo neste genero</b></p>

<% else %>
	<table class="table_game">
		<th>Nome</th>
		<th>Console</th>
		<th>Desembolso</th>

		<% @games.each do |game| %>
			<% game.game_samples.each do |game_sample| %>
				<tr>
					<td><%= game.name %></td>
			    	<td><%= game.console.name if game.console %></td>
			    	<td><%= "R$#{game.price_range.price}0" if game.price_range %></td>
			    	<% if game_sample.available? %>
			    		<td><%= link_to "Alugar", rent_game_sample_url(game_sample), method: 'get' %></td>
			    	<% else %>
			    		<td> Alugado </td>
			    	<% end %>	
			    </tr>
		    <% end %>
		<% end %>
	</table>
<% end %>