  <!DOCTYPE html>
<html>
<head>
  <title>AlugSeguro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		<div id="left_header">
			<!-- <%= link_to image_tag("logotipo.png"), root_url %> -->
		</div>
		<div id="right_header">
			<% if user_signed_in? %>
          <% if current_user.role == "admin" %>
            <h3> <%="Seja bem vindo novamente, #{current_user.name}." %>
          <% else %>
            <h3> <%="Olá, #{current_user.name}. Você possui #{current_user.shopcredit.to_i} ShopCredits" %>
          <% end %>
          <%= link_to "Sair", destroy_user_session_url, method: :delete %> </h3>
      <% else %>
          <h3>Seja bem vindo! <%= link_to 'Faca seu login', new_user_session_path %></h3>
      <% end %>
			<input type="text" id="textfield_procuraJogo" name="procuraJogo" placeholder="Digite o nome do jogo..." />
			<input type="submit" id="button_procurar" value="Procurar" class="default_button" />
		</div>
	</div>
	
  <div id="menu">
		<ul>
      <% if user_signed_in? %>
        <% if current_user.role == "admin" %>
          <li><%= link_to "Alugueis (#{Rent.where{date == nil}.count})", admin_rents_url %></li>
          <li><%= link_to "Devolucoes (#{Devolution.where{date == nil}.count})", devolution_rents_url %></li>
        <% else %>
          <li><%= link_to 'Home', root_url %></li>
          <li><%= link_to 'Jogos', games_path %></li>
          <li><%= link_to 'Generos', genders_path %></li>
          <li><%= link_to 'Meus Alugueis', rents_path %></li>
          <li><%= link_to 'Historico', histories_path %></li>
        <% end %>

      <% else %>
        <li><%= link_to 'Home', root_url %></li>
        <li><%= link_to 'Cadastrar', new_user_url %></li>
      <% end %>
		</ul>
	</div>

  <div id="content">
    <div id="central_content">
      <% if user_signed_in? && current_user.role == nil %>
        <div id="top_central_content">
              <ul>
                <!-- <li><%= link_to "Perfil", current_user %></li> -->
                <% Console.all.each do |console| %>
                  <li><%= link_to console.name,  console %></li>
                <% end %>
                <!-- <li><%= link_to "Sair", destroy_user_session_url, method: :delete %></li> -->
              </ul>
        </div>
      <% else %>

      <% end %>
      <div id="middle_central_content">
        <%= yield %>
      </div>  
    </div>
  </div>
  <!-- <div id="footer">
		<h4>Todos os Direitos Reservados</h4>
	</div> -->
</body>
</html>